<%- include("header.ejs") %>


        <form class="add-button" action="/" method="post">
            <button class="add-bttn" type="submit" name="list" value="<%= title %>">+</button>
            <input type="text" name="newTask" placeholder="Agregar nueva tarea" autocomplete="off" required>
        </form>

    <ul class="tasklist">
        <% todayTask.forEach(element=> { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="hidden" name="listName" value="<%= title %>">
                    <input type="checkbox" name="checkbox" value="<%= element._id %>" onChange="this.form.submit()">
                    <p>
                        <%= element.task %>
                    </p>
                </div>
            </form>
        <% }) %>
    </ul>

    <%- include("footer.ejs") %>